<h1> New Tweet </h1>


<%= form_with scope: :tweet, url: '/tweets', local: true do |form| %>
  <p>
    <%= form.label :username %>
    <%= form.text_field :username %>
  </p>

  <p>
    <%= form.label :body %>
    <%= form.text_area :body %>
  </p>

  <p>
    <%= form.submit "Post Tweet" %>
  </p>
<% end %>